<!DOCTYPE html>
<html>
<head>
    titolo
</head>

<body>

    
        Eliminare account?
        <form id="form" method="post">
            <input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
			<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
			<input type="submit" value="no" class="btn btn-success"><a href="/rimuovi">rimuovi</a><br>
        </form>
    
</body>


</html>